@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    color: rgb(255 255 255);
    background: rgb(0, 105, 106);
    background: linear-gradient(180deg, rgba(0, 105, 106, 1) 21%, rgba(207, 169, 88, 1) 100%);
}
